@model List<Report.EntityPathloss.PathlossByShift>
@{
    ViewBag.Title = "RRbyStationandChart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section tableStyle{
    <link rel="stylesheet" href="~/wwwroot/css/table.css">
    <style>
        .tableFixHead {
            overflow-y: auto;
            height: 50em;
        }

        .hideView {
            visibility: hidden;
            display: none;
        }

        .showView {
            visibility: visible;
            display: block;
        }
    </style>
}

@section DownloadTable{
    <script>
        String.prototype.toDate = function () { //'20200803'.toDate()
            return new Date(this.substring(0, 4), this.substring(4, 6), this.substring(6, 8))
        }


        function exportData(tableID) {

            //getting values of current time for generating the file name
            var dt = new Date();
            var day = dt.getDate();
            var month = dt.getMonth() + 1;
            var year = dt.getFullYear();
            var hour = dt.getHours();
            var mins = dt.getMinutes();
            var postfix = day + "." + month + "." + year + "_" + hour + "." + mins;
            //creating a temporary HTML link element (they support setting file names)
            var a = document.createElement('a');
            //getting data from our div that contains the HTML table
            var data_type = 'data:application/vnd.ms-excel;charset=utf-8';
            var tableID = `#${tableID}`

            var table_html = $(tableID)[0].outerHTML;
            //    table_html = table_html.replace(/ /g, '%20');
            table_html = table_html.replace(/<tfoot[\s\S.]*tfoot>/gmi, '');

            var css_html = '<style>td {border: 0.5pt solid black}';
            //    css_html = css_html.replace(/ /g, '%20');

            a.href = data_type + ',' + encodeURIComponent('<html><head>' + css_html + '</' + 'head><body>' + table_html + '</body></html>');

            //setting the file name
            a.download = 'exported_table_' + postfix + '.xls';
            //triggering the function

            a.click();
            //just in case, prevent default behaviour
            e.preventDefault();
        }

        function loadFixedHeader() {
            var $th = $('.tableFixHead').find('thead th')
            $('.tableFixHead').on('scroll', function () {
                $th.css('transform', 'translateY(' + this.scrollTop + 'px)');
            });
        }
        loadFixedHeader()
    </script>




}

@section dateRangeSingle{
    <script>

        $(function () {
            $('input[id="testday"]').daterangepicker(
                {
                    singleDatePicker: true,
                    showDropdowns: true,
                    minYear: 1901,
                    maxYear: parseInt(moment().format("YYYY"), 10),
                }
            );

        });



        $(function () {
            $('input[name="daterange"]').daterangepicker({
                opens: 'left'
            }, function (start, end, label) {
                debugger
                console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
                var deta = end._d.getDate() - start._d.getDate()
                var monthStart = start._d.getMonth()
                var monthEnd = end._d.getMonth()
                var d=(end-start)/86400000

                 if (d>10) {
                    toastr["error"]("Mời chọn số ngày nhỏ hơn 10", "Erorr")
                }


            });

        });


        $(function () {
            $('#daterange').data('daterangepicker').setStartDate(moment().add(-5, 'day').format('MM/DD/YYYY'));
            $('#daterange').data('daterangepicker').setEndDate(moment().format('MM/DD/YYYY'));
        })

        $('#daterange').daterangepicker();



        $(function () {
            //debugger
            var date = new Date();
            var Hours_now = date.getHours();
            if (Hours_now > 7 && Hours_now < 20)
            {
                $('#day').attr('selected', 'selected');
            }
            else if (Hours_now < 8 || Hours_now > 19)
            {

                $('#night').attr('selected', 'selected');
            }
        });



    </script>

}

@section HandelControl{
    <script>

        $(function () {
            $("#loading_result").hide();

        });
       
        function postdata() {
            debugger

           

            var date = $("#testday").data('daterangepicker').startDate.format('MM/DD/YYYY');
            var getDate = date.substr(6) + date.substring(0, 2) + date.substr(3, 2)

            //var NowDate = $("#testday").data('daterangepicker').startDate._d;
            //var _nextDate = new Date()
            //_nextDate.setDate(NowDate.getDate() + 1)
            //var sNextDate = _nextDate.getMonth() + 1 + "/" + _nextDate.getDate() + "/" + _nextDate.getFullYear()



            $("#loading_result").show();
         
            $("#animation_loading").css("opacity", "0.5");

            var data = new FormData
            data.append('GetDate', getDate)

           
            $.ajax({
                type: 'post',
                url: '/PathLossData/Filter',

                data: data,
                contentType: false,
                processData: false,

                success: function (res) {
                    $('#tblEx').html(res)
                    loadFixedHeader()

                    $("#loading_result").hide();
                    $("#animation_loading").css("opacity", "1");

                },
                error: function (err) {
                    toastr["error"]("Not Success", "Erorr")
                }

            })

        }

     

    </script>

}


<!-- and font add-->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Retest Rate by Station and chart</h1>
            </div><!-- /.col -->

        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>

<section class="content">
    <div id="animation_loading">
        <div class="container-fluid">
            <div class="row mb-2">
                @*<div class="col-2" style="padding-left: 0;">
                    <input id="daterange" class="form-control" type="text" name="daterange" />
                </div>*@
                <div class="col-2" style="padding-left: 0;">
                    <input style=" width:150px;height:39px; font-weight:bold; color:black; font-size:16px;" class="form-control" id="testday" type="text" name="testday" placeholder="Enter test day">
                </div>

            
                <div class="col-2" style="padding-left: 0; margin-top:2px;">
                    <button onclick="postdata()" type="button" style=" border-radius:5px;" class="btn btn-success">Filters</button>

                </div>
                @*<div lass="col-2">*@
                <div style="width:100px; height:100px;z-index:20 ;position:absolute;margin:100px 500px;" id="loading_result" class="lv-bars lv-mid lg"></div>
                @*</div>*@



            </div>

       
           

            <div class="row justify-content-center mb-5 tableFixHead " id="wrapTable">
                <table class="responsive-table" id="tblEx">
                    @Html.Partial("~/Views/PathLossData/PathLossDataPartial.cshtml", Model)
                </table>
            </div>


        </div>
    </div>
</section>


