
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Retest Rate by Station Error Code</h1>
            </div><!-- /.col -->

        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<section class="content">
    <div id="animation_loading">
        <div class="container-fluid">
            <div class="row mb-2">
                <iframe frameborder="0"
                        marginheight="0" marginwidth="0" title="data visualization"
                        allowtransparency="true" allowfullscreen="true" class="tableauViz"
                        width="1004" height="836" style="display: block; margin: 0px; padding: 0px; border: none; width: 1004px; height: 836px;"
                        src="http://10.224.81.72/views/BO6RRErrorCodeByStationsCharst/Sheet6?:embed=y&:showAppBanner=false&:showShareOptions=true&:display_count=no&:showVizHome=no"></iframe>
                </div>
            </div>
        </div>
    </section>
